<template>
  <b-navbar variant="white" class="bottom-shadow mb-3">
    <b-button variant="none" class="no-outline" @click="$store.dispatch('ui/toggle', 'sidebarShow')">
      <fa icon="bars" />
    </b-button>
    <!-- Right aligned nav items -->
<!--    <b-navbar-nav class="ml-auto">-->
<!--      <b-nav-item @click="logout">-->
<!--        <fa icon="sign-out-alt" />-->
<!--      </b-nav-item>-->
<!--    </b-navbar-nav>-->
  </b-navbar>
</template>

<script>
export default {
  name: 'MainHeader',
  methods: {
    async logout () {
      await this.$store.dispatch('auth/logout')
      this.$router.push({ name: 'login' })
    }
  }
}
</script>

<style scoped>
  .bottom-shadow {
    box-shadow: 0 4px 2px -2px gray;
  }
  .no-outline:focus, .no-outline:active {
    outline: none !important;
    box-shadow: none !important;
  }
</style>
