@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$body-bg: #f3f5f7;
$enable-shadows: true;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
    (
      'primary': #337ab7,
      'secondary': #009CCC,
      'success': #5cb85c,
      'info': #5bc0de,
      'warning': #f0ad4e,
      'danger': #d9534f,
      'light': #F8F9FA,
      'dark': #343A40,
      'muted': #6a7980
    ),
    $theme-colors
);


@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import './sidebar.scss';

body {
  font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.spinner-center {
  display: inline-block;
  vertical-align: middle;
}

$input-group-padding-y: 0.75rem;
$input-group-padding-x: 0.625rem;

.input-group {
  &.input-group-seamless {
    > .form-control {
      border-radius: $input-border-radius;
    }

    > .input-group-append,
    > .input-group-prepend {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 4;

      .input-group-text {
        padding: $input-group-padding-y $input-group-padding-x;
        background: transparent;
        border: none;
      }
    }

    > .input-group-append {
      right: 0;
    }

    > .input-group-middle {
      right: 0;
      left: 0;
    }

    > .input-group-prepend {
      left: 0;
    }

    > .form-control,
    > .custom-select {
      &:not(:last-child) {
        padding-right: 40px;
      }

      &:not(:first-child) {
        padding-left: 40px;
      }
    }
  }
}
