<template>
  <div style="height: 90vh">
    <iframe width="100%" height="100%" :src="src" frameborder="0" />
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'OD',
    data () {
      return {
        src: ''
      }
    },
    created () {
      this.config()
    },
    methods: {
      async config () {
        try {
          const { data } = await axios.get('/config')
          this.src = data.od_url
        } catch (e) {
          this.$toasted.error('Error fetching Grafana URL!')
        }
      }
    }
  }
</script>

<style scoped>

</style>
