<template>
  <div class="base">
    <header />
    <router-view />
    <footer />
  </div>
</template>

<script>
export default {
  name: 'PublicLayout'
}
</script>

<style lang="scss" scoped>
  .base {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
</style>
