<template>
  <div>
    <b-card-group deck>
      <mltd-card />
      <od-card />
    </b-card-group>
    <b-card-group deck class="mt-3">
      <ceptd-card />
    </b-card-group>
  </div>
</template>

<script>
import MltdCard from '~/components/MltdCard'
import OdCard from '~/components/OdCard'
import CeptdCard from '~/components/CeptdCard'
export default {
  name: 'Dashboard',
  components: {
    OdCard,
    MltdCard,
    CeptdCard
  }
}
</script>

<style scoped>

</style>
